<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tasks</title>
</head>
<body>
  
<div>
  <h3>New Task</h3>
  <form (submit)="onSubmit()">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name="title" [(ngModel)]="newTask.title"/>
      </div>
      <div class="col">
        <input type="text" class="form-control" name="description" [(ngModel)]="newTask.description"/>
      </div>
      <input type="submit" class="btn btn-primary" value="Create Task"/>
    </div>
  </form>

  <h3>Task List</h3>
  
  <div *ngFor="let r of recievec; let idx = index">
    <div class="card" style="width: 18rem;">
      <h5 class="card-title">Title: {{r.title}}</h5><br/>
      <h6 class="card-subtitle mb-2 text-muted">Description: {{r.description}}</h6>
      <button (click)="GetTask(r._id)">Edit</button>
      <button (click)="DeleteTask(r._id)">Delete</button>
    </div>
  </div>

    <div *ngIf="green">
        <form (submit)="EditTask()">
          
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" name="title" [(ngModel)]="updateTask.title"/>
              </div>
              <div class="col">
                <input type="text" class="form-control" name="description" [(ngModel)]="updateTask.description"/>
              </div>
              <input type="submit" class="btn btn-primary" value="Update Task"/>
            </div>
          </form>
    </div>


</body>
</html>