<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #img{
            width: 300px;
            height: 200px;
        }
        h3{
            position: relative;
            left: 550px;
        }
    </style>
    <title>Cars</title>
</head>
<body>
    <h3>Cars..</h3>
        <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <img id="img" src="images/car1.jpg" alt="car image">
                  </div>
                  <div class="col-sm">
                    <img id="img" src="images/car2.jpg" alt="car image">
                  </div>
                  <div class="col-sm">
                    <img id="img" src="images/car3.jpg" alt="car image">
                  </div>
                </div>
              </div>
</body>
</html>