<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cake Rating</title>
</head>
<body>
  <div>
    <h3>Rate my cakes</h3>
    <form (submit)="onSubmit()">
      <div class="row" id=bord>
        <strong>Submit a cake to be rated!</strong>
        <div class="col">
          <input type="text" class="form-control" name="name" [(ngModel)]="newCake.name"/>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="img" [(ngModel)]="newCake.img"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Cake"/>
      </div>
    </form>
    <h3>Cake List</h3>
        <div id="bord">
            <div *ngFor="let r of recievec; let idx = index">
          <h5 class="card-title">Baker Name: {{r.name}}</h5><br/>
          <a (click)="getRate(r._id, idx)"><img [src]="r.img"></a>
          <form (submit)="onClick(r._id)">
          <p>Your Comment: <input type="text" class="form-control" name="comment" [(ngModel)]="newRate.comment"></p>
          <p>Star Rate: 
                  <select id='stars' name="stars" [(ngModel)]="newRate.stars">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                  </select>
          </p>
          <input type="submit" class="btn btn-primary" value="Add Rate"/>
      </form>
    </div>
    </div>
    <app-task *ngIf="green" [cakeToShow]="selected_cake" [getRate]="selected_rate"></app-task>
  
  
</body>
</html>

