<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dojo Survey Index</title>
    <style>
            h3{
               font-weight: bold;
            }
            div{
            outline: 2px solid black;
            height: 300px;
            width: 400px;
            margin:100px;
            margin-left: 400px;
            padding-left: 150px;
            padding-top: 20px; 
        }

            #submit{
                background-color: grey;
                color: white;
            }
        
    </style>
</head>
<body>
    <div>
        <form action='/'>
            <h3>Info Submitted:</h3>
            <p>Name:  <%= name %> </p>
            <p>Dojo Location: <%= location %> </p>
            <p>Favorite Language: <%= language %> </p>
            <p>Comment: <%= comment %> </p>
            <input id="submit" type="submit" value="Go Back">
        </form>
    </div>
</body>
</html>