<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Weather Forecasting</h1>
  <nav>
    <a routerLink ="/seatle" routerLinkActive="active">Seatle</a> |
    <a routerLink ="/dc" routerLinkActive="active">DC</a> |
    <a routerLink ="/burbank" routerLinkActive="active">Burbank</a> |
    <a routerLink ="/sanjose" routerLinkActive="active">Sanjose</a> |
    <a routerLink ="/chicago" routerLinkActive="active">Chicago</a> |
    <a routerLink ="/dallas" routerLinkActive="active">Dallas</a>
  </nav>
  <router-outlet></router-outlet>
<!-- Routed views goes here -->
</body>
</html>

