<!DOCTYPE HTML>

<html>
<head>
    <title>profile</title>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'application/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Logo -->
        <h1><a href="/" id="logo"><img src="{% static 'application/img/lastlogo.png' %}" style="width: 500px; height:100px; margin-bottom: -50px;" alt="logo"></a></h1>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="{{request.session.id}}/edit">Profile preview</a></li>
                <li class="current"><a href="/user_dashboard">Edit profile</a></li>
                <li><a href="/">Log out</a></li>
            </ul>
        </nav>

    </div>

    <section class="wrapper style1">
        <div class="container">
            <div id="content">

                <!-- Content -->

                <article>
                    <header>
                        <h2>Your Profile</h2>
                        <form action="/lawyer_info" method="post">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                                </div>
                                <textarea class="form-control" name="about_me"
                                          placeholder="Please write something about you">{{user_data.about_me}}</textarea>

                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input class="form-control" name="phone" type="text" value="{{request.session.phone}}"
                                       readonly>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                                </div>
                                <input class="form-control" name="experience" type="text" placeholder="your experience"
                                       value={{user_data.experience}}>
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                                </div>
                                <input class="form-control" name="category" type="text" placeholder="category"
                                       value={{user_data.catogray}}>

                            </div>
                            <button class="btn btn-block btn-success" type="submit">update profile</button>
                            {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <p>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}

                        </form>
                    </header>


                </article>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <section>
                    <h3>Get In Touch</h3>
                    <form action="/feedback" method="post" role="form" class="contactForm">
                        {% csrf_token %}
                        <div class="row gtr-50">
                            <div class="col-6 col-12-mobilep">
                                <input type="hidden" name="formID" value="1"/>
                                <input type="text" name="name" id="name" placeholder="Name"/>
                            </div>
                            <div class="col-6 col-12-mobilep">
                                <input type="email" name="email" id="email" placeholder="Email"/>
                                <div class="validation"></div>
                            </div>
                            <div class="col-12">
                                <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" class="button alt" onclick="myFunction()"
                                               value="Send Message"/></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>

        <!-- Icons -->
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
        </ul>

        <!-- Copyright -->
        <div class="copyright">
            <ul class="menu">
                <li>&copy; All rights reserved</li>
            </ul>
        </div>

    </div>

</div>

<!-- Scripts -->
<script src="{% static 'usres_app/js/jquery.min.js' %}"></script>
<script src="{% static 'usres_app/js/dropotron.min.js' %}"></script>
<script src="{% static 'usres_app/js/browser.min.js' %}"></script>
<script src="{% static 'usres_app/js/breakpoints.min.js' %}"></script>
<script src="{% static 'usres_app/js/util.js' %}"></script>
<script src="{% static 'usres_app/js/main.js' %}"></script>
<script>
					function myFunction() {
					  alert("Your message has been sent succefully, Thanks!");
					}

</script>

</body>
</html>