<!DOCTYPE HTML>

<html>
<head>
    <title>profile</title>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'application/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Logo -->
        <h1><a href="/" id="logo"><img src="{% static 'application/img/lastlogo.png' %}" style="width: 500px; height:100px; margin-bottom: -100px;" alt="logo"></a></h1>


        <section class="wrapper style1">
            <div class="container">
                <div id="content">

                    <!-- Content -->

                    <article>
                        <header>
                            <h2>Lawyer Profile:</h2>
                        </header>
                        <p class="form-control">Name: {{full_name}}</p>

                        <p class="form-control">About lawyer: {{user_data.about_me}}</p>

                        <p class="form-control">Phone:{{user_phone}}</p>

                        <p class="form-control">Experience:{{user_data.experience}}</p>

                        <p class="form-control">Catogray:{{user_data.catogray}}</p>

                    </article>
                    <a href="/lawyers">Back</a>

                </div>
            </div>
        </section>

        <!-- Footer -->
        <div id="footer">
            <div class="container">
                <div class="row">

                </div>
            </div>

            <!-- Icons -->
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
            </ul>

            <!-- Copyright -->
            <div class="copyright">
                <ul class="menu">
                    <li>&copy; All rights reserved</li>
                </ul>
            </div>

        </div>

    </div>

    <!-- Scripts -->
    <script src="{% static 'usres_app/js/jquery.min.js' %}"></script>
    <script src="{% static 'usres_app/js/dropotron.min.js' %}"></script>
    <script src="{% static 'usres_app/js/browser.min.js' %}"></script>
    <script src="{% static 'usres_app/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'usres_app/js/util.js' %}"></script>
    <script src="{% static 'usres_app/js/main.js' %}"></script>

</body>
</html>