<!DOCTYPE HTML>

<html>
<head>
    <title>Lawyers</title>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'application/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Logo -->
        <h1><a href="/" id="logo"><img src="{% static 'application/img/lastlogo.png' %}" style="width: 500px; height:100px; margin-bottom: -100px;" alt="logo"></a></h1>


    </div>

    <!-- Banner -->
    <section id="banner">
        <header>
            <h2> Please upload ur license here:</h2>

            <form method="post" action="upload_file" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="myfile">
                <button type="submit">Upload</button>
                <br><br>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    {% if message.tags == 'info' %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

            </form>

        </header>
    </section>


</div>

<!-- Scripts -->

<script src="{% static 'usres_app/js/jquery.min.js' %}"></script>
<script src="{% static 'usres_app/js/dropotron.min.js' %}"></script>
<script src="{% static 'usres_app/js/browser.min.js' %}"></script>
<script src="{% static 'usres_app/js/breakpoints.min.js' %}"></script>
<script src="{% static 'usres_app/js/util.js' %}"></script>
<script src="{% static 'usres_app/js/main.js' %}"></script>

</body>
</html>