<!DOCTYPE HTML>

<html>
<head>
    <title>profile</title>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'application/css/main.css' %}">
</head>

<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Logo -->
        <h1><a href="/" id="logo"><img src="{% static 'application/img/lastlogo.png' %}" style="width: 500px; height:100px; margin-bottom: -100px;" alt="logo"></a></h1>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="{{request.session.id}}/edit">Profile preview</a></li>
                <li><a href="/user_dashboard">Edit profile</a></li>

            </ul>
        </nav>

    </div>

    <section class="wrapper style1">
        <div class="container">
            <div id="content">

                <!-- Content -->

                <article>
                    <header>
                        <h2>Your Profile</h2>
                        <p>for g</p>
                    </header>


                    <h3>And Yet Another Subheading</h3>
                    <form action="/lawyer_info" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-user"></i>
                      </span>
                            </div>
                            <p class="form-control">{{full_name}}</p>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-user"></i>
                  </span>
                            </div>
                            <p class="form-control">{{user_data.about_me}}</p>
                        </div>
                        <div class="input-group mb-3">
                            <p class="form-control">{{user_phone}}</p>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                            </div>
                            <p class="form-control">{{user_data.experience}}</p>
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                            </div>
                            <p class="form-control">{{user_data.catogray}}"</p>
                        </div>
                    </form>
                </article>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <section>
                    <h3>Get In Touch</h3>
                    <form action="/feedback" method="post" role="form" class="contactForm">
                        {% csrf_token %}
                        <div class="row gtr-50">
                            <div class="col-6 col-12-mobilep">
                                <input type="text" name="name" id="name" placeholder="Name"/>
                            </div>
                            <div class="col-6 col-12-mobilep">
                                <input type="email" name="email" id="email" placeholder="Email"/>
                                <div class="validation"></div>
                            </div>
                            <div class="col-12">
                                <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" class="button alt" onclick="myFunction()"
                                               value="Send Message"/></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>

        <!-- Icons -->
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
        </ul>

        <!-- Copyright -->
        <div class="copyright">
            <ul class="menu">
                <li>&copy; All rights reserved</li>
            </ul>
        </div>

    </div>

</div>

<!-- Scripts -->
<script src="{% static 'usres_app/js/jquery.min.js' %}"></script>
<script src="{% static 'usres_app/js/dropotron.min.js' %}"></script>
<script src="{% static 'usres_app/js/browser.min.js' %}"></script>
<script src="{% static 'usres_app/js/breakpoints.min.js' %}"></script>
<script src="{% static 'usres_app/js/util.js' %}"></script>
<script src="{% static 'usres_app/js/main.js' %}"></script>
<script>
					function myFunction() {
					  alert("Thanks!");
					}

</script>

</body>
</html>