<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Read (One)</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">User {{user.user_id}}</h5>
            <p class="card-text">Full Name:{{user.first_name + user.last_name}}</p>
            <p class="card-text">Email:{{user.email}}</p>
            <p class="card-text">Created On:{{user.created_at}}</p>
            <p class="card-text">Last Updated On:{{user.updated_at}}</p>
        </div>
        <div class="card-body">
        <form method="post" action="/users">
            <input type="submit" class="btn btn-link" value="Edit"/>
        </form>
                <!-- <form method="post" action="/users/id/edit">
                    <input type="submit" class="btn btn-link" value="Delete"/>
                </form> -->
                  
        </div>
    </div>
    
</body>
</html>