<!DOCTYPE html>
<html lang="en">
<head>
    <title>Playground 1</title>
    <style>

        #container{
            margin-left: 330px;
        }
      
        #block{
            
            width: 200px;
            height: 200px;
            display: inline-block;
            background-color: lightskyblue;
            text-align: center;
        }

        h1{
            text-align: center;
        }
    
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div id="container">
        <div id="block"></div>
        <div id="block"></div>
        <div id="block"></div>
    </div>
    
</body>
</html>