<!DOCTYPE html>
<html lang="en">
<head>
    <title>Amadon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="card">
        <h5 class="card-header">Thank you for your business!</h5>
        <div class="card-body">
            <h5 class="card-title">We charged your credit card for {{ charge.total_price }}$</h5>
            <p class="card-text">You have ordered #{{ quantity }} items so far and spent {{ total }}$$ with Amadon.com!</p>
            <a href="/" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</html>


